<section class="login p-fixed d-flex text-center bg-primary common-img-bg" style="overflow-y:auto">
  <div class="auth-fluid" >
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material">
            
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <div class="text-center">
                    <img src="assets/images/auth/logoRetail.png" alt="logo.png">
                  </div>
                  <h3 class="text-left txt-primary">Please Sign In</h3>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Your Email Address">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Password">
                <span class="md-line"></span>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-sm-7 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5 col-xs-12 forgot-phone text-right">
                  <a [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse"> Forgot Your Password?</a>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" (click)="GetLogin()">Sign in</button>
                </div>
              </div>
              <hr/>
              <!--<div class="row">
                <div class="col-md-8">
                  <p class="text-inverse text-left m-b-0">Welcome to Managment Repoer</p>
                  <p class="text-inverse text-left"><b>Your Retail Team</b></p>
                </div>
                <div class="col-md-4">
                  <img src="assets/images/auth/ss.png" alt="small-logo.png" width="100">
                </div>
              </div>-->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
