aside.pcoded-slider.ng-sidebar {
  top: 56px;
}

.slimscroll-wrapper, .scroll-window {
  width: 100% !important;
}

.userlist-box {
  &.show {
    display: -webkit-box;
  }
  &.hide {
    display: none;
  }
} 

.show-notification {
  background: linear-gradient(to top, #ffff99 0%,#ffffff  30%) !important;
}

.nav-left li.mega-menu-top { 
 &:hover {
  //border-left: 1px solid rgba(0, 0, 0, 0.125);
  //border-right: 1px solid rgba(0, 0, 0, 0.125);
  background: linear-gradient(to bottom, #ffff99  0%,#ffffff  50%);
  //font-weight:bolder;
 }
}

@media(max-width:992px){
  .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification{
   width:100%;
   margin:0;
  }
}
